<div class="node-container" cdkDragBoundary=".canvas" cdkDrag
  (cdkDragMoved)="onMove()"
>
  <div #nodeContent class="node-content" cdkDragHandle>
    <p>Node</p>
    <p>{{ id }}</p>

    <!-- -------------------------------- INPUT -------------------------------- -->
    <div class="input-list" cdkDropList
      (cdkDropListEntered)="onDropListEntered($event)"
      (cdkDropListExited)="onDropListExited($event)"
      (cdkDropListDropped)="onDropListDropped($event)"
    >
      <app-wiring-anchor #inputAnchors *ngFor="let inputNodeId of inputNodeIds" class="anchor"
        [sourceNodeId]="inputNodeId"
        [targetNodeId]="id"
        [attached]="true"
        (removedEvent)="onInputRemoved(inputNodeId)"
      ></app-wiring-anchor>
    </div>

    <!-- ------------------------------- OUTPUT -------------------------------- -->
    <div class="output-list" cdkDropList
      (cdkDropListDropped)="onDropListDropped($event)"
    >
      <app-wiring-anchor class="anchor right"
        [sourceNodeId]="id"
      ></app-wiring-anchor>
    </div>
  </div>
</div>
